In [ ]:
import pandas as pd

In [ ]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage

1. item_name의 데이터를 모두 대문자로 변경
2. item_name의 문자열 사이의 공백을 모두 제거
3. item_price의 결측치를 모두 특정한 조건에 맞춰서 대체

In [ ]:
# 문자열 내장함수 문자를 대문자로 변경하는 함수
a = 'Hello World'
print(a.upper())
print(a.lower())

In [ ]:
b = "  Hello World  "
# 좌우의 공백을 제거하는 함수 (strip())
b.strip()

In [ ]:
# 문자열 사이의 공백도 모두 제거 ( replace({기존의 문자열}, {변경될 문자열})  )
b. replace(' ','')

In [ ]:
# item_name의 공백을 제거
uriage['item_name'].str.replace(' ','') #앞에 str붙이면 변경됨

In [ ]:
uriage['item_name'].str.upper() #앞에 str붙이면 변경됨

In [ ]:
# map 함수
a_list = [1,5,7]

def change(x):
    return x ** 2

change(3)

In [ ]:
list(
    map(
        change,
        a_list
    )
)

In [ ]:
list(
    map(
        lambda x : x ** 2,
        a_list
    )
)

In [ ]:
# Series에서 map함수와 비슷한 기능을 가진 함수가 존재
# apply(함수명|lambda함수)

def change(x):
    print(x)
    
uriage['item_name'].apply(change)

In [ ]:
def change(x):
    print(type(x))
    
uriage['item_name'].apply(change)

In [ ]:
def change(x):
    # x는 데이터의 타입이 문자열
    # 문자열 내장함수들을 이용 가능
    # print(type(x))
    result = x.upper()
    result = result.replace(' ','')
    return result
    
uriage['item_name'].apply(change)

In [ ]:
def change(x):
    # x는 데이터의 타입이 문자열
    # 문자열 내장함수들을 이용 가능
    # print(type(x))
    # result = x.upper()
    # result = result.replace(' ','')
    result = x.upper().replace(' ','')
    return result
    
uriage['item_name'].apply(change)

In [ ]:
uriage['item_name'].str.upper() #->의 답은 쓰리지

In [ ]:
uriage['item_name'].str.upper().replace

In [50]:
# apply + Lambda
uriage['item_name'] = uriage['item_name'].apply(
    lambda x :x.upper().replace(' ','')
)

In [ ]:
# 반복문으로 대문자 변환, 공백 

# 인덱스가 0이고 컬럼이 item_name인 경우
# uriage.loc[0, 'item_name'] # 0부터 길이가 긴만큼
_list = []
for i in range(0, len(uriage), 1):
    # print(uriage.loc[i, 'item_name'])
    data

In [ ]:
for i in range(len(uriage)):
    data = uriage.loc.[i, 'item_name']
    result = data.upper().replace(' ','')
    uriage.loc[i,'item_name'] = result

In [ ]:
# 상품 A라면 item_price는 결측치를 제외하고 100으로 고정

# 상품 a이고 결측치가 아닌 데이어의 item_price의 평균

# 상품 a에서 t==  item_price가 결측치인 데이터에서 결측치를 평균값으로 대체

In [ ]:
# 첫번째 조건식 (item_prid)

In [ ]:
# 두번째 조건식 (item_price가 결측치인 경우)
flag_null = uriage['item_price'].isna()

In [ ]:
~flag_null

In [ ]:
mean_data = uriage.loc[flag & ~flag_null, 'item_price'].mean()

In [ ]:
# item_name이 상품A이고 item_price가 결측치가 아닌 평균을
# item_name이 상품A이고 item_price가 결측치인 부분에 대입
uriage.loc[flag & flag_null, 'item_price'] = mean_data

In [ ]:
uriage.loc[flag & flag_null]

In [ ]:
# item_name의 중복 데이터를 제거하고 유니크한 데이터만 추출
# case1 (set 데이터형태 사용)
list(set(uriage['item_name']))

In [ ]:
# case2 (unique()함수를 이용)
uriage['item_name'].unique()

In [51]:
# case3 (value_count()함수 이용)
uriage['item_name'].value_counts()

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품J    116
상품X    116
상품I    114
상품B    113
상품M    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
Name: count, dtype: int64

In [52]:
(uriage['item_name'].value_counts()).index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품B', '상품M', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [53]:
# case4 (위의 3가지 방법이 기억이 안나면 반복문 사용)
item_list = []

for i in uriage['item_name']:
    # print(i)
    if i not in item_list:
        # item_list에 i의 값이 포함되어있지 않다면
        item_list.append(i)
        
item_list

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [54]:
for item in item_list:
    print(item)
    flag = uriage['item_name'] == item
    flag_null = uriage['item_price'].isna()
    mean_data = uriage.loc[flag & ~flag_null, 'item_price'].mean()
    uriage.loc[flag & flag_null, 'item_price'] = mean_data

상품A
상품S
상품Z
상품V
상품O
상품U
상품L
상품C
상품I
상품R
상품X
상품G
상품P
상품Q
상품Y
상품N
상품W
상품E
상품K
상품B
상품F
상품D
상품M
상품H
상품T
상품J

In [55]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [60]:
flat = uriage['item_name'] == '상품E'
uriage.loc[flag, 'item_price'].mean()

1000.0

In [ ]:
df = pd.DataFrame(
    [
        [1,2,3],
        [4,5,6]
    ],
    columns=['A','B','C']
)

In [ ]:
df

In [ ]:
df['C'] = 10